# Build & PlatformIO Caches
.pio/
compile_commands.json

# Python Caches & Virtualenvs
__pycache__/
*.pyc
.venv/
venv/

# Operating System & IDE Caches
.DS_Store
Thumbs.db
.vscode/
.idea/
.cursor/
.claude/
.antigravitycli/
*.code-workspace
